body {
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    width: 100%;
    transition: all 0.25s ease-out;
}

#wrapper.toggled #page-content-wrapper {
    margin-left: 15rem;
}

.bg-dark {
    background-color: #343a40 !important;
}

.list-group-item-action:hover {
    color: #ffffff;
    background-color: #495057;
}

.navbar .form-inline {
    display: flex;
    align-items: center;
}

.navbar .form-inline img {
    margin-left: 15px;
}
