<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <div class="login-container">
        <div class="login-content">
          <div class="login-content_header">
            <span class="logo">
              <box-icon type='solid' name='landscape' color="#87A922"></box-icon> Land Scape
            </span>
            <h2>Reset Password</h2>
          </div>
          <div>
            <form class="login-form" id="signup-form" method="post" action="/reset-Password"> 
              <input type="password" placeholder="Enter Your Password" name="password" required>
              <input type="password" placeholder="Conform Your Password" name="conf_password" required>
              <div>
                {{.error}}
              </div>
              <input type="submit"  style="margin: 40px;" >
            </form>
        
          </div>
        </div>
    </div>
    

  
</body>
 